:root {
  --theme-color: #D51518;
  --theme-color-f9f9f9:#F9F9F9;
  --theme-color-fff:fff;
  --theme-color-yellow:#F5A623;
  --theme-color-brown:#BC5800;
  --theme-color-white:#fff;
}


view{
	display: flex;
}
/*字体大小-------------------------*/
.fn-sz-22{
	font-size: 22upx;
}
.fn-sz-24{
	font-size: 24upx;
}
.fn-sz-28{
	font-size: 28upx;
}
.fn-sz-30{
	font-size: 30upx;
}
.fn-sz-32{
	font-size: 32upx;
}
.fn-sz-36{
	font-size: 36upx;
}
.fn-sz-40{
 font-size: 40upx;	
}
.fn-sz-48{
	font-size: 48upx;
}
.fn-sz-52{
	font-size: 52upx;
}

.fn-sz-72{
	font-size: 72upx;
}
/*字体大小--------------------------------------------*/
/*字体颜色-------------------------------------------*/
.fn-cl-theme{
	color: var(--theme-color);
	color: $theme-color;
}
.fn-cl-333{ 
	color: #333;
}
.fn-cl-fff{
	color: #fff;
}
.fn-cl-999{
	color:#999;
}
.fn-cl-666{
	color: #666;
}
.fn-cl-brown{
	color: var(--theme-color-brown);
	color: $theme-color-brown;
}

.fn-cl-ccc{
	color: #ccc;
}
/*字体颜色-------------------------------------------*/
/* 图片 图标 尺寸------------------------------------------ */

.image-sz-24{
	width: 24upx;
	height: 24upx;
}
.image-sz-32{
	width: 32upx;
	height: 32upx;
}

.image-sz-36{
	width: 36upx;
	height: 36upx;
}
.image-sz-48{
	width: 48upx;
	height: 48upx;
}
.image-sz-60{
	width: 60upx;
	height: 60upx;
}
.image-sz-96{
	width: 96upx;
	height: 96upx;
}
.image-sz-120{
	width: 120upx;
	height: 120upx;
}
.image-sz-140{
	width: 140upx;
	height: 140upx;
}
.image-sz-160{
	width: 160upx;
	height: 160upx;
}

.circle-image{
	border-radius: 50%;
	background-color: #eee;
}
/* 图片 图标 尺寸------------------------------------------ */
/* 边距--------------------------------- */
.margin-right-20{
	margin-right: 20upx;
}
.margin-left-20{
	margin-left: 20upx;
}
.margin-bottom-20{
	margin-bottom: 20upx;
}
/* 边距--------------------------------- */
/* flex布局--------------------------------- */
.flex-column{
	flex-direction: column;
}
.flex-between{
	justify-content: space-between;
}
.flex-end{
	justify-content: flex-end;
}
.align-items-center{
	align-items: center;
}
.justify-content-center{
	justify-content: center;
}
.flex-1{
	flex: 1;
	flex-shrink: 1;
}
.align-items-baseline{
	align-items: baseline;
}

/* flex布局--------------------------------- */

//加粗字体
.fn-bold{
	font-weight: bold;
}
.txt-align-right{
	text-align: right;
}
.break-all{
	word-break: break-all;
}
//删除线
.delete-line{
	text-decoration: line-through;
}
//行高
.line-height-80{
	line-height: 80upx;
}

.width-100-percent{
	width: 100%;
}
//单行文本 省略号
.one-line-txt {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	word-wrap: break-word;
	word-break: break-all;
	// text-align: center;
}

//两行文本 省略号
.two-line-txt{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	word-wrap: break-word;
	word-break: break-all;
}

.pd-lr-30{
	padding-left: 30upx;
	padding-right: 30upx;
	box-sizing: border-box;
}
.pd-lr-40{
	padding-left: 40upx;
	padding-right: 40upx;
	box-sizing: border-box;
}


.tag-relative{
	position: relative;
}
.tag-right-bot{
	position: absolute;
	right: 0;
	bottom: 0;
}

.scroll-x-box{
	width: 100%;
	white-space: nowrap;
}
.scroll-x-item{
 display: inline-block;	
}